ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.br-50 {
  border-radius: 50%;
}

.br-8 {
  border-radius: 8px;
}

.logo,
.nav-list,
.about,
.technologies,
.projects,
.contact {
  padding: 0 20px;
  padding-top: 15px;
}

body {
  background: #fff;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 1.15rem;
  /* display: flex;
  flex-direction: column;
  min-height: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav__link,
.resume {
  font-family: "heading";
}

.project__title {
  font-family: "project-heading";
}

p,
li,
.btn,
.btn-inactive {
  font-family: "paragraph";
}

.languages {
  font-family: "light";
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
}

.header {
  position: relative;
  z-index: 3;
}

.nav-bar {
  position: relative;
  animation: slideInFromTop 1s ease;
  align-items: center;
  /* padding-top: 15px; */
}

.logo {
  grid-column: 1 / span 4;
  font-family: "alba-1";
  letter-spacing: 2px;
  white-space: nowrap;
  align-self: flex-start;
  /* border: 1px solid rgb(114, 30, 30) */
}

.nav__link {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 1px;
  color: #fff;
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  outline: none;
}

.resume {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}

.nav__link:hover::after,
.nav__link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
  outline: none;
}

.intro-image {
  width: 130px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

.header .flex > * {
  margin: 0;
}

@media screen and (max-width: 959px) {
  .hamburger {
    display: block;
    position: absolute;
    display: grid;
    cursor: pointer;
    right: 2%;
    top: 65%;
    height: 12px;
    transform: translate(-5%, -50%);
    z-index: 5;
  }

  .hamburger .line1,
  .hamburger .line3 {
    height: 3px;
    justify-self: end;
    background: #000;
    width: 25px;
    border-radius: 100px;
    transition: 0.8s ease;
  }

  .nav-list {
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.8s ease-out;
    pointer-events: none;
    padding: 0 0.9vw;
    justify-content: center;
    align-items: center;
  }

  .nav-list > * + * {
    margin-top: 40px;
  }

  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 7px);
    background-color: white;
    border-radius: 100px;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(2px, 1px);
    background-color: white;
    border-radius: 100px;
  }
}

.welcome-section {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideInFromBottom 0.9s ease;
}

.name {
  display: inline-block;
  overflow: hidden;
  border-right: 0.14em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end;
}

.personal-info > * + * {
  margin-top: var(--spacer);
}

.about .my-5 {
  margin: 1.2rem 0;
}

.about-image,
.personal-info {
  grid-column: 1/ -1;
}

.about-image {
  text-align: center;
}

.personal-info {
  padding: 15px 10px;
}

.personal-info .about_info b {
  border-bottom: 1px solid;
}

.technologies .flex {
  flex-wrap: wrap;
  /* gap: 30px; */
  /* border: 1px solid black; */
}

/* .technologies .flex > * {
  margin: 30px;
} */

.card {
  background-color: #fff;
  border-radius: 20px 0 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 140px;
  height: 200px;
  transition: transform 1s ease;
}

.card h4 {
  margin-bottom: 10px;
}

.card:hover,
.card:focus {
  transform: translateY(-10px);
}

.technologies img {
  width: 80px;
}

.technologies .fig {
  width: 55px;
}

.technologies,
.projects,
.contact {
  padding-top: 2.5rem;
}

.projects > .project-tile + .project-tile {
  margin-top: 20px;
}

.projects .flex {
  flex-direction: column;
}

.projects .flex > * {
  width: 100%;
}

.project-image img {
  border-radius: 0 10px;
  display: block;
}

.project__info,
.languages,
.external-links {
  margin-top: 0.6rem;
}

.project-description {
  padding: 15px 5px;
}

.social__links {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  transition: transform 1s ease;
}

.social__links:hover,
.social__links:focus {
  transform: translateY(-5px);
  outline: none;
}

footer.my-3 {
  margin-bottom: 1rem;
}

.footer a {
  transition: 250ms ease;
}

.footer a:hover,
.footer a:focus {
  border-bottom: 1px solid;
  outline: none;
}

.copyright {
  font-size: 0.95rem;
}

.italic {
  font-style: italic;
}

/* ======
  For larger screen sizes
   ======*/

@media screen and (min-width: 960px) {
  .logo {
    grid-column: 1/ 3;
  }

  .nav-list {
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    grid-column: 3 / -1;
    width: 100%;
  }

  .resume {
    border-color: #000;
  }

  .resume:hover,
  .resume:focus {
    color: #fff;
  }

  .resume::after {
    background: #000;
  }

  .main-nav {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }

  .nav__link,
  .resume {
    color: #000;
  }

  .about .grid {
    gap: 30px;
  }

  .about .my-5 {
    margin: 0;
  }

  .about .my-2 {
    margin: 0;
  }

  .about-image {
    grid-column: 1/5;
    width: 100%;
    grid-row: 1;
    /* border: 1px solid; */
  }

  .personal-info {
    grid-column: 5/ -1;
    width: 100%;
    grid-row: 1;
    /* border: 1px solid; */
    align-self: center;
  }

  .projects .flex {
    flex-direction: row;
    gap: 40px;
  }

  .project-description {
    align-self: flex-start;
  }

  .project__title {
    font-size: 1.2rem;
  }
}
